:root {
    --primary-color: #c98d83;
    --secondary-color: #783b31;
    --background-color: #f2f1ec;
    --sidebar-color: #783b31;
    --white-color: #ffffff;
    --text-color: #333333;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* General Styles */
body, html {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    min-height: 100vh;
}

/* Sidebar Styles */
.sidebar {
    background-color: var(--sidebar-color);
    color: var(--white-color);
    width: 250px;
    padding: 20px;
    height: 100vh;
    box-shadow: var(--box-shadow);
}

.sidebar-header {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
}

.sidebar-menu li {
    margin: 10px 0;
}

.sidebar-menu li a {
    color: var(--white-color);
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.sidebar-menu li a i {
    margin-right: 10px;
}

/* Main Content */
main {
    flex: 1;
    padding: 20px;
    background-color: var(--background-color);
}

.header {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 20px;
    margin-left:110px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: var(--box-shadow);
    margin-top: 5px;
}

.header h1 {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
}

.header h1 a {
    color: var(--white-color);
    text-decoration: none;
}

.header .user-info {
    text-align: right;
}

/* Content Section */
.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-left: 200px;
    margin-right: 180px;

}

.chart-container {
    width: 500px;
    background-color: var(--white-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.inventory-table-container {
    width: 90%;
    background-color: var(--white-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    margin-left: 130px;
    margin-right:20px;
}

.inventory-table {
    width: 100%;
    border-collapse: collapse;
}

.inventory-table th, .inventory-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.inventory-table th {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.inventory-table tr:nth-child(even) {
    background-color: #f9f9f9;
}
